body {
    width: 70%;
    margin: auto;
    padding: 16px;
}

@media screen and (max-width: 860px) {
    body {
        width: 85%;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
}

.section {
    padding-bottom: 4px;
}

#header-img img {
    display: block;
    width: 480px;
    height: auto;
    max-width: 100%;
    margin: auto;
}

#steps-section ol {
    list-style-type: none;
    padding-left: 0;
}
