@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

:root {
    --text-red: #f85e42;
    --text-black: #303030;

    color: var(--text-black);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
}
